<!DOCTYPE html>
<html lang="en">
<html>
<head>
    <link rel="stylesheet" href="css/styles.css">        
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Laila:wght@300&family=PT+Sans&display=swap" rel="stylesheet"> 
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Youtube Downloader</title>
</head>

<body>

  <div class="header">
    <a href="/" class="logo">YT-DL</a>
    <div class="header-right">
      <a href="#contact">Contact</a>
      <a href="#about">About</a>
    </div>
  </div>

  <div class="title">
    <div class="yt-dl">Youtube Downloader</div><br>
    <small>Download and convert Youtube videos in MP3, MP4 formats</small>
  </div>

  <div class="cover">
    <form action="/done" class="flex-form" method="POST" autocomplete="off">
      <input name="search" type="search" placeholder="Enter link">
      <input name="submit" type="submit" value="Search">
      <!-- <div class="yt-validator">Invalid Link</div> -->
    </form>      
  </div>  

</body>

</html>